# Ignore system files
.DS_Store
Thumbs.db
*.tmp

# Do NOT ignore zip files as they contain the password protected installers
!*.zip

# Ignore dev related files if accidentally copied
*.py
*.spec
*.iss
__pycache__/
.venv/
.git/
